body {
    padding-top: 70px;
    overflow: hidden
  }
  .list-group-item.active small {
    color: #fff;
  }
  @media screen and (max-height: 1024px) {
    .scrollable-menu {
      height: auto;
      max-height: 700px;
      overflow-x: hidden;
    }
  }
  @media screen and (max-height: 768px) {
    .scrollable-menu {
      height: auto;
      max-height: 400px;
      overflow-x: hidden;
    }
  }

.internalReplyContainer{
  background-color: #ffffe0;
}

.publicReplyContainer{
  background-color: #d7eaf3;
}

label {
  font-weight: normal;
}

.section{
  overflow-y: auto;
  max-height: -webkit-fill-available;
}

.section::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #d4d9db; /* or add it to the track */
}

.section::-webkit-scrollbar-thumb {
  background: #808588; 
}